<!DOCTYPE html>
<html>
<head>
	<title>this is a title!</title>
	<script src = 'js/index.js' type="text/javascript"> </script>
</head>
<body>
	body content!	<table>
		<ul>
			<li>title:</li>
			<li>body</li>
		</ul>

							<ul>
					<li> Title 0</li>
					<li>0.0</li>
				</ul>
							<ul>
					<li> Title 1</li>
					<li>Body 1</li>
				</ul>
							<ul>
					<li> Title 2</li>
					<li>Body 2</li>
				</ul>
							<ul>
					<li> Title 3</li>
					<li>Body 3</li>
				</ul>
							<ul>
					<li> Title 4</li>
					<li>Body 4</li>
				</ul>
							<ul>
					<li> Title 5</li>
					<li>Body 5</li>
				</ul>
							<ul>
					<li> Title 6</li>
					<li>Body 6</li>
				</ul>
							<ul>
					<li> Title 7</li>
					<li>Body 7</li>
				</ul>
							<ul>
					<li> Title 8</li>
					<li>Body 8</li>
				</ul>
							<ul>
					<li> Title 9</li>
					<li>Body 9</li>
				</ul>
							<ul>
					<li> Title10</li>
					<li>Body10</li>
				</ul>
				</table>

</body>
</html>